* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.app-container {
    padding: 20px;
}
.airport-data-wrap .row {
    margin: 0;
}
.single-airport-wrap {
    margin-top: 30px;
    padding: 10px;
}
.single-airport-wrap.no-delay {
    border: 3px solid green;
}
.single-airport-wrap.delay {
    border: 3px solid red;
}
