<!DOCTYPE html>
<html ng-app="airportApp">
    <head>
        <meta charset="utf-8" />
        <title>Angular Airport Delays</title>
        <link rel="stylesheet" href="css/gumby.css">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    </head>
    <body ng-controller="AirportController" ng-init="getAllAirports()">
        <div class="app-container">
            <h1>Airport Delays</h1>
            <h5>Filter airports:</h5>
            <div class="field">
                <input class="normal text input" type="search" placeholder="city or airport code" ng-model="filterText" />
            </div>
            <div class="airport-data-wrap">
                <div class="row" ng-repeat="singleAirport in airports" ng-if="$index % 3 == 0">
                    <div class="four columns single-airport-wrap" ng-class="(airport.delay) ? 'delay' : 'no-delay'" ng-repeat="airport in airports.slice($index, $index + 3) | filter:filterText">
                        <p>{{airport.city}}</p>
                        <p>Current Delay: {{airport.delay}}</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="vendor/jquery.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>